.sec1-heading{
    padding-top: 78px;
    text-align: center;
}
.take{
    font-family: var(--mansalva);
    font-weight: 400;
    color: var(--blue);
    line-height: 33px;

}
.ideas{
    font-family: var(--palanquin);
    font-weight: 700;
    color: var(--primary);

}
@media (min-width: 768px){
    .take{
        font-size: 30px;
    }
    .ideas{
        font-size: 50px;
    }
}