.tour-text {
  background-color: var(--secondary);
  color: var(--primary);
}
.tour-text h2 {
  font-family: var(--palanquin);
  color: var(--primary);
}
.tour-text .empty {
  width: 100px;
  height: 3px;
  background-color: var(--blue);
  margin: 3px 0;
}
.tour-text p {
  font-family: var(--jost);
}
.tour-image {
  margin: 10px auto;
}
.tour-image img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .tour-text .empty {
    width: 128px;
  }
  .tour-container {
    display: flex;
    justify-content: space-between;
  }
  .tour-text {
    width: 80%;
    margin: 10px auto;
  }

  .tour-image {
    display: none;
  }
  .tour-text h2 {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .tour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 690px;
  }
  .tour-text {
    width: fit-content;
    position: relative;
    top: -40px;
    width: 617px;
    height: 408px;
    border-radius: 5px;
  }

  .tour-image {
    display: inline;
    position: relative;
    top: 130px;
    right: 30px;
  }
}
